<!--底部--> 
<!-- 返回顶部 -->
<div class="sidebar">
  <ul>
    {pboot:sort scode=22}<li class="message"> <a href="[sort:link]#message" target="_blank"><img width="24" height="24" src="{pboot:sitedomain}/skin/images/message_icon.png">客户留言</a> </li>{/pboot:sort}
    <li class="telephone"> <a href="javascript:;"><img width="24" height="24" src="{pboot:sitedomain}/skin/images/telephone_icon.png">{pboot:companyphone}</a> </li>
    <li class="wechat"> <a href="javascript:;"><img width="24" height="24" src="{pboot:sitedomain}/skin/images/wechat_icon.png"></a>
      <div class="wechat-code"><img width="188" height="188" alt="微信" src="{pboot:companyweixin}"></div>
    </li>
    <li class="top"> <a href="javascript:;"><img width="24" height="24" src="{pboot:sitedomain}/skin/images/top_icon.png"></a> </li>
  </ul>
</div>
<!-- 底部 -->
<div class="footer">
  <div class="footer-wrapper container clear">
    <div class="footer-info">
      <div class="footer-info-tel">
        <p class="p1">服务热线：</p>
        <p class="p2"><a href="tel: {pboot:companyphone}">{pboot:companyphone}</a></p>
      </div>
      <p class="footer-info-email"><a href="mailto:{pboot:companyemail}">邮箱：{pboot:companyemail}</a></p>
      <p class="footer-info-address">地址：{pboot:companyaddress}</p>
    </div>
    <div class="footer-nav">
      {pboot:nav num=3}
      <dl>
        <dt><a href="[nav:link]">[nav:name]</a></dt>
        {pboot:2nav parent=[nav:scode] num=4}
        <dd><a href="[2nav:link]"><span>[2nav:name]</span></a></dd>
        {/pboot:2nav}
      </dl>
      {/pboot:nav}
      <dl>
        <dt><a href="#">常用链接</a></dt>
        {pboot:nav num=4}
        <dd><a href="[nav:link]"><span>[nav:name]</span></a></dd>
        {/pboot:nav}
      </dl>
    </div>
  </div>
  <div class="footer-bottom container">
    <div class="footer-bottom-left">{pboot:sitecopyright} <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{pboot:siteicp}</a> <a href="{pboot:sitedomain}/index.php/sitemap.xml" target="_blank">XML地图</a> <a href="https://www.datiyan.com/" target="_blank">网站源码</a> {pboot:sitestatistical}</div>
  </div>
</div>
<div class="mfooter">
  <div class="mfooter-top">
    <div class="container">
      <div class="mfooter-code-tel"> <img src="{pboot:companyweixin}" width="80" height="80">
        <div class="telephone">
          <p>服务热线：</p>
          <span>{pboot:companyphone}</span></div>
      </div>
      <div class="mfooter-address">
        <p>地址：{pboot:companyaddress}<br>
          邮箱：{pboot:companyemail}</p>
      </div>
    </div>
  </div>
  <div class="mfooter-bottom"> {pboot:sitecopyright}<br>
    <a class="mfooter-icp" href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{pboot:siteicp}</a> </div>
</div>