<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<meta name="renderer" content="webkit">
<title>{pboot:if('{sort:title}'=='')}{pboot:pagetitle}{else}{sort:title}{/pboot:if}</title>
<meta name="keywords" content="{pboot:if('{sort:keywords}'=='')}{pboot:pagekeywords}{else}{sort:keywords}{/pboot:if}">
<meta name="description" content="{pboot:if('{sort:description}'=='')}{pboot:pagedescription}{else}{sort:description}{/pboot:if}">
<link rel="stylesheet" href="{pboot:sitedomain}/skin/css/swiper.min.css">
<link rel="stylesheet" href="{pboot:sitedomain}/skin/css/style.css">
<link rel="stylesheet" href="{pboot:sitedomain}/skin/css/media.css">
<link rel="stylesheet" href="{pboot:sitedomain}/skin/css/animate.min.css">
<script type="text/javascript" src="{pboot:sitedomain}/skin/js/jquery.min.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/skin/js/swiper.min.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/skin/js/wow.min.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/skin/js/jquery.countup.min.js"></script>
<script type="text/javascript" src="{pboot:sitedomain}/skin/js/main.js"></script>
</head>
<body class="menu-bg">
{include file=head.html}
<!--内容-->
{pboot:sort scode={sort:tcode}}
<div id="bann" style="background-image: url([sort:pic]);">
  <div class="container">
    <div class="t1 wow fadeInUp" data-wow-delay="200ms">[sort:subname]<br>
    </div>
    <div class="t2 wow fadeInUp" data-wow-delay="300ms"> <span>[sort:def1]</span> </div>
  </div>
</div>
{/pboot:sort}
<div class="nav_pc hide wow fadeInLeft" id="nav" data-wow-delay="400ms">
  <div class="container"> <a class="home" href="{pboot:sitedomain}/"><img src="{pboot:sitedomain}/skin/images/home_ico.png" style="background-color: #0f6ab4;" alt=""></a>
    <div class="first">
      <h4>{sort:topname}</h4>
      <ul>
        {pboot:nav}
        <li><a href="[nav:link]">[nav:name]</a></li>
        {/pboot:nav}
      </ul>
    </div>
    <div class="second active">
      <h4> {sort:name} </h4>
      <ul>
        {pboot:nav num=50 parent={sort:tcode}}
        <li><a href="[nav:link]">[nav:name]</a></li>
        {/pboot:nav}
      </ul>
    </div>
  </div>
</div>
<div class="nav_phone hide container ">
  <p>{pboot:position}</p>
</div>
<div id="product">
  <div class="container">
    <div class="pro-list"> 
      {pboot:list num=6 order=sorting}
      <a class="item wow fadeInUp" data-type="volist" href="[list:link]">
      <div class="pic"> <img src="[list:ico]" alt="[list:title]"> </div>
      <div class="info">
        <p class="t1 over-line1">[list:title]</p>
        <p class="t2 over-line2">[list:description lencn=24]</p>
      </div>
      </a>
      {/pboot:list}
      </div>
    <div class="fenye wow fadeInUp" data-wow-delay="300ms">
      {pboot:if({page:rows}>0)}
        <div class="pagebar">
        <div class="pagination">
        <a class="page-item page-link hidden-sm" href="{page:index}" title="首页">首页</a>
        <a class="page-item page-link st" href="{page:pre}" title="上一页"><<</a>
        {page:numbar}
        <a class="page-item page-link" href="javascript:;" title="当前页/总页数">{page:current}/{page:count}</a>
        <a class="page-item page-link st" href="{page:next}" title="下一页">>></a>
        <a class="page-item page-link hidden-sm" href="{page:last}" title="尾页">尾页</a>
        </div>
        </div>	
        {else}
        <div class="tac text-secondary">本分类下无任何数据！</div>
        {/pboot:if}
    </div>
  </div>
</div>
{include file=foot.html}
<script>
    $('.nav_pc .first, .nav_pc .second').on('mouseenter mouseleave', function () {
        $(this).children('ul').stop().slideToggle()
    });
</script>
</body>
</html>
